<section data-bs-version="5.1" class="content5 cid-tVTcT2jm4H" id="content5-0">
    <form method="GET" action="{% url 'barberapp:recording' master.id %}" class="appointment-form">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" name="name" required>
        </div>

        <div class="form-group">
            <label for="phone_number">Номер телефона:</label>
            <input type="text" name="phone_number" required>
        </div>

        <div class="form-group">
            <label for="comments">Комментарий:</label>
            <textarea name="comments"></textarea>
        </div>

        <div class="form-group">
            <label for="selected_date">Выберите дату и время:</label>
            <select name="selected_datetime" id="selected_datetime">
                {% for date, appointments in available_appointments.items %}
                    {% for appointment in appointments %}
                        <option value="{{ date }} {{ appointment|time:'H:i' }}">{{ date }} {{ appointment|time:'H:i' }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="selected_service">Выберите сервис:</label>
            <select name="selected_service" id="selected_service">
                {% for service in services %}
                    <option value="{{ service.id }}">{{ service.service_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <button type="submit">Записаться</button>
        </div>
    </form>
</section>
